.navbar .search-input{
    background-color: rgba(128, 128, 128, 0.109);
    outline: none;
    border: none;
    padding: 5px 10px 7px 45px;
    color: black;
    border-radius:100px ;
    margin: 0 10px;
    width: 150px;
}
.navbar ul.search{
    position: relative;
}
.navbar ul.search .search-box span{
    position: absolute;
    left: 8px;
    top: 3.5px;
}
.navbar .search-input:hover{
    background-color: rgba(128, 128, 128, 0.204);
}
.navbar .search li img{
    margin: 0 10px;
}
.navbar-nav li a{
    font-weight: 600;
}
.navbar .search .search-icon{
    padding: 3px;
}