:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html::-webkit-scrollbar{
  width: 5px;
  height: 10px;
}
html::-webkit-scrollbar-thumb{
  background-color: rgb(146, 146, 146); 
}

html{
  scroll-behavior: smooth;
}